/*
* @Author: Galena
* @Date:   2019-03-27 14:58:13
* @Last Modified by:   Galena
* @Last Modified time: 2019-03-27 16:14:41
*/
* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #F2F2F2;
}

.head {
	font-size: 40px;
	margin: 40px;
}
.head > p {
	text-align: center;
}

.container {
	width: 920px;
	margin: 0 auto;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}
.image-wrapper {
	overflow: hidden;
}
.image {
	display: flex;
	transition: all 0.5s;
}
.status1 {
	margin-left: 0;
}
.status2 {
	margin-left: -920px;
}
.status3 {
	margin-left: -1840px;
}
.status4 {
	margin-left: -2760px;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	border: 1px solid white;
	background-color: white;
}
.button-wrapper > div:first-child, .button-wrapper > div:last-child {
	width: 360px;
	background: linear-gradient(to bottom, rgba(224,224,224,1) 0%,rgba(252,252,252,1) 10%,rgba(224,224,224,1) 100%);}

.button {
	position: relative;
	width: 48px;
	height: 32px;
	padding: 8px;
	margin: 0 1px;
	vertical-align: middle;
	text-align: center;
	background: linear-gradient(to bottom, rgba(224,224,224,1) 0%,rgba(252,252,252,1) 10%,rgba(224,224,224,1) 100%);
	box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.2)
}
.button > img {
	height: 32px;
}
.buttonActive {
	background: radial-gradient(ellipse at center, rgba(224,224,224,1) 38%,rgba(156,156,156,1) 100%);
}
.buttonActive::before {
	content: '';
	border: 8px solid white;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid transparent;
	position: absolute;
	top: -1px;
	left: 23px;
	height: 0;
	width: 0;
	display: block;
}